/* Fonts */
/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --black: #030303;
  --4-light-red: #eb7565;
  --1-galactic-blue: #755cde;
  --2-summer-yellow: #f6a560;
  --5-cyan: #61c4b7;
  --medium-brown: #7a746e;
  --light-cream: #fff7f0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  scroll-behavior: smooth;
  height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

img {
  /* display: block; */
  object-fit: cover;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* SITE HEADER */

.header {
  padding-top: 34px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  padding: 14px 45px;
  border-radius: 28px;
  background: var(--black);
  color: #fff7f0;
  transition: all 0.3s ease-in;
}

.header-btn:hover {
  background: var(--1-galactic-blue);
}

.header-btn:active {
  opacity: 0.6;
}

/* Hero Section */

.hero {
  padding-top: 70px;
  padding-bottom: 136px;
}

.hero-container {
}

.hero-heading {
  text-align: center;
  color: var(--black);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  margin-bottom: 23px;
}

.hero-text {
  color: var(--medium-brown);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  width: 100%;
  min-width: 730px;
  margin-bottom: 80px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.hero-item {
  width: 100%;
  max-width: 354px;
  height: 364px;
  border-radius: 8px;
  background: var(--1-galactic-blue);
}

.hero-grapx-img {
  margin-top: 24px;
  margin-left: 202px;
  margin-bottom: 94px;
}

.hero-item-title {
  color: var(--light-cream);
  margin-left: 24px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero-apps-wrapper {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 354px;
  height: 158px;
  margin-bottom: 26px;
}

.ux-wrapper {
  width: 164px;
  height: 182px;
  border-radius: 8px;
  background: var(--2-summer-yellow, #f6a560);
}

.ux-wrapper img {
  margin-top: 24px;
  margin-left: 75px;
  margin-bottom: 40px;
}

.ui-text {
  color: var(--light-cream);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 24px;
}

.app-wrapper {
  width: 164px;
  height: 182px;
  border-radius: 8px;
  background: #f39e9e;
}

.app-wrapper img {
  margin-top: 24px;
  margin-left: 75px;
  margin-bottom: 40px;
}

.illustration-wrapper {
  width: 354px;
  height: 158px;
  border-radius: 8px;
  background: var(--4-light-red);
}

.illustration-wrapper img {
  margin-top: 24px;
  margin-left: 200px;
  margin-bottom: 16px;
}

.photography-wrapper {
  border-radius: 8px;
  background: var(--5-cyan);
  width: 354px;
  height: 182px;
  margin-bottom: 24px;
}

.photography-wrapper img {
  margin-top: 24px;
  margin-left: 170px;
  margin-bottom: 40px;
}

.moution-wrapper {
  width: 354px;
  height: 158px;
  border-radius: 8px;
  background: #552049;
}

.moution-wrapper img {
  margin-top: 24px;
  margin-left: 202px;
  margin-bottom: 16px;
}

/* ABOUT SECTION */

.about {
  padding-bottom: 88px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-wrapper {
  width: 100%;
  max-width: 540px;
  height: 306px;
}

.about-title {
  color: var(--black);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 34px;
}

.about-desc {
  color: var(--medium-brown);
  font-feature-settings: "clig" off, "liga" off;
  font-weight: 500;
  margin-bottom: 32px;
}

.about-link {
  border-radius: 28px;
  background: var(--4-light-red);
  padding: 14px 45px;
  color: var(--light-cream);
  font-weight: 700;
}

/* PORTFOLIO WRAPPER */

.portfolio {
  display: flex;
  max-width: 2820px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.portfolio-title {
  text-align: center;
  color: var(--black);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.portfolio-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Contact Section */

.contact {
  padding-bottom: 60px;
  padding-top: 88px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--black);
  color: var(--light-cream);
  padding-top: 80px;
  padding-right: 95px;
  padding-left: 65px;
  padding-bottom: 80px;
}

.contact-wrapper {
  width: 100%;
  max-width: 540px;
}

.contact-title {
  color: var(--light-cream, #fff7f0);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}

.contact-desc {
  color: var(--light-cream);
  font-feature-settings: "clig" off, "liga" off;
}

.contact-btn {
  border-radius: 28px;
  background: var(--4-light-red);
  padding: 14px 45px;
  color: #fff7f0;
}

footer {
  padding-bottom: 66px;
}

.btn {
  transition: all 0.3 ease;
}

.btn:hover {
  background: var(--2-summer-yellow);
}
