/* Fonts */
/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v8-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/plus-jakarta-sans-v8-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* plus-jakarta-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/plus-jakarta-sans-v8-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --black: #030303;
  --4-light-red: #eb7565;
  --1-galactic-blue: #755cde;
  --2-summer-yellow: #f6a560;
  --5-cyan: #61c4b7;
  --medium-brown: #7a746e;
  --light-cream: #fff7f0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  scroll-behavior: smooth;
  height: 100vh;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

img {
  /* display: block; */
  object-fit: cover;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* SITE HEADER */

.header {
  padding-top: 34px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btn {
  padding: 14px 45px;
  border-radius: 28px;
  background: var(--black);
  color: #fff7f0;
  transition: all 0.3s ease-in;
}

.header-btn:hover {
  background: var(--1-galactic-blue);
}

.header-btn:active {
  opacity: 0.6;
}
